img{
    width: 70px;
    border-radius: 4px;
    height: 80px;
}
h3{
    margin-left: 78px;
    margin-bottom: -43px;
}
p{
    margin-left: 78px;
    margin-top: -38px;
    font-family: sans-serif;
    font-weight: 600;
}
.col-4{
    margin-top: 16px;
}
.container{
    margin-top: 60px;
}
span{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1rem;
}
h1{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
}